[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
engage-scraper = ">=0.0.28"
pillow = "*"
celery = "*"
redis = "*"
redisbeat = "*"
jsonpickle = "*"
boto3 = "*"
celery-once = "*"
simple-latex = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.7"
